html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #b5eee5;
}

a:hover {
  color: #00d1b2;
}

#about{
    color:lightgrey;
}

.avatar:hover{
   transform:scale(1.1);
   cursor:pointer;
}

.log:hover{
    transform:scale(1.1);
    cursor:pointer;
 }

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#about {
    background-image: url("https://i.gifer.com/KeaT.gif");
   
}

button{
    display: inline-block;
    border-radius: 30%;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#skills {
	background-color: #052D3D;
}

.section-4 {
    background-color: #0E282E;
    padding:0.2rem;
}

#social{
	background-image: url("https://i.pinimg.com/originals/68/13/5d/68135de1cb1f4ec5f81d0b7bb2bbd750.gif");
    background-repeat: no-repeat;
	background-color:#111;
                
                background-attachment:fixed;
                background-size: cover;
                background-attachment: fixed;
                
                text-align:center;
                width:100vw;
                overflow:hidden; 
   
}

a.nav-item {
	color: cyan;
}

a.nav-item:hover {
    color: lightseagreen;
    text-decoration:none;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

.gallery-box img{
    width:100%;
    border-radius:10px;
    cursor:pointer
    }
    
    .gallery-box img:hover{
        transform:scale(1.1);
    }
    
    .gallery-box h4{
        width:200px;
        color:white;
        text-shadow:-2px 2px 2px #000;
        top:50%;
        left:50%;
        position:absolute;
        transform:translate(-50%,-50%);
        display:block;
        font-size:20px;
    }
    
    .gallery-box{
        position:relative;
        margin-bottom:30px;
    }

    .down:hover{
          cursor:pointer;
          color:rgb(175, 131, 131);
          transform:scale(1.1);
          background-color: rgb(17, 52, 73);
    }

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}




